# Ignored folders
/.sass-cache/
/dev/_statics/
/dist/
/node_modules/

# Ignored files
/dev/stylesheets/**/*.css
/dev/stylesheets/**/*.map
.package-lock.json
.jekyll-metadata

# Ignored extensions
*.DS_Store
*.lnk
*.log
