            </div>
        <footer></footer>

        <!--==== Scripts ====-->
        <!-- build:js scripts/jquery.min.js -->
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/base.min.js -->
        <script src="../scripts/base.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/{{ page.slug }}.min.js -->
        <script src="../scripts/{{ page.slug }}.js"></script>
        <!-- endbuild -->
        <!--==== Scripts ====-->
        
    </body>
</html>